.main {
    align-items: center;
    padding: 100px;
    pointer-events: all;

    .condicao {
        align-items: center;
        display: flex;
    }
    .botao {
        padding: 50%, 50%, 50%, 50%;
        align-items: center;
        height: 25px;
        width: 50px;
    }
}